.footer{
    clip-path: polygon(0 59%, 100% 80%, 100% 100%, 0% 100%);
    background-image: linear-gradient(rgba(91, 0, 0, 0.676), rgb(0, 0, 0)), url(https://images.pexels.com/photos/3755706/pexels-photo-3755706.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    position: relative;
    background-size: cover;
}